<!doctype html>
<html>
<head>
    <link rel="shortcut icon" href="/front/img/logo/logo-192.png">
    <link rel="apple-touch-icon" href="/front/img/logo/logo-192.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">    
    
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/node_modules/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="/front/helpers.css">
    <link rel="stylesheet" href="/front/general.css">
    
    <title>Polydojo KB</title>
</head>
<body class="container">
    <script type="text/html" id="ukSource"> <!-- /> -->
        <%
            window.model = model;
            var m = uk.snapshot(model);
            window.m = m;
        %>
        <header class="">
            <div class="dropdown float-right mt-1">
                <button class="btn btn-light btn-sm" type="button" id="primaryDropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                >
                    <span class="d-none d-sm-inline">
                        <i class="fa fa-fw fa-user"></i>
                        Hi {{app.c.currentUser.get().fname}}!
                        &nbsp; <span class="lightGray small">|</span> &nbsp;
                    </span>
                    Menu <i class="fa fa-fw fa-chevron-circle-down"></i>
                </button>&nbsp;
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="primaryDropdownMenuButton">
                    <a class="dropdown-item" href="?id=pageLister">
                        <i class="fa fa-fw fa-file-alt"></i>&nbsp; Pages
                    </a>
                    <a class="dropdown-item" href="?id=userLister">
                        <i class="fa fa-fw fa-users"></i>&nbsp; Users
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/logout">
                        <i class="fa fa-fw fa-sign-out-alt"></i>&nbsp; Log Out
                    </a>
                </div>
            </div>
            <a href="?id=pageLister"><img src="/front/img/logo/texty-logo-360.png" height="42"></a>
            <hr>
        </header>
        
        
        <!-- ROUTE 'pageLister': -->
        <div class="{{ m.router.ifRoute('pageLister') }}" id="pageLister">
            <% if (m.router.c.activeId === "pageLister") { %>
                <header>
                    <div class="floatRight">
                        <button class="btn btn-light" data-on="click" data-call="/pageLister/onClick_createPage">
                            <i class="fa fa-fw fa-plus"></i> Create Page
                        </button>
                    </div>
                    <h3>Page Lister</h3>
                    <br>
                </header>
                <ul>
                    <% _.each(m.pageLister.c.pageList, function (page) { %>
                        <li>
                            <h4>
                                <a href="?id=scratchpadr&amp;pageId={{page._id}}">{{ page.title }}</a>
                            </h4>
                        </li>
                    <% }); %>
                </ul>
            <% } %><!-- end route guard -->
        </div><!-- end route 'pageLister' -->
        

        <!-- ROUTE 'scratchpadr': -->
        <div class="{{ m.router.ifRoute('scratchpadr') }}" id="scratchpadr">
            <% if (m.scratchpadr.c.page && m.router.c.activeId === "scratchpadr") { %>
                <header>
                    <h3>{{m.scratchpadr.c.page.title}}</h3>
                    <!--<br>-->
                </header>
                <form data-on="submit" data-call="/scratchpadr/onSubmit_saveScratch">
                    <div class="form-group">
                        <label><code>Scratchpad</code></label>
                        <textarea name="scratchText" class="form-control monospace" rows="15"
                            >{{m.scratchpadr.c.page.scratchpad}}</textarea>
                        <!-- one-way mToV binding-->
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary">
                            <i class="fa fa-fw fa-save"></i> Save
                        </button>
                    </div>
                </form>
            <% } %><!-- end route guard -->
        </div><!-- end route 'scratchpadr' -->
        

        <!-- ROUTE 'userLister': -->
        <div class="{{ m.router.ifRoute('userLister') }}" id="userLister">
            <% if (m.router.c.activeId === "userLister") { %>
                <header>
                    <div class="floatRight">
                        <% if (! m.userLister.o.isInviteFormVisible) { %>
                            <button class="btn btn-light" data-on="click" data-call="/userLister/onClick_toggleInviteForm">
                                <i class="fa fa-fw fa-plus"></i> Invite User
                            </button>
                        <% } %>
                    </div>
                    <h3>Users</h3>
                    <br>
                </header>
                <% if (m.userLister.o.isInviteFormVisible) { %>
                    <form class="border1pxLightGray padding1rem radiusQuarterRem mb-4 px-4"
                        data-on="submit" data-call="/userLister/onSubmit_inviteForm"
                    >
                        <span class="float-right btn btn-light btn-sm cursorPointer"
                            data-on="click" data-call="/userLister/onClick_toggleInviteForm"
                        >
                            <i class="fa fa-fw fa-times"></i>
                        </span>
                        <div class="form-group">
                            <h4 class="">Invite User</h4>
                        </div>
                        <div class="form-group">
                            <label>First Name</label>
                            <input type="text" name="fname" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Last Name</label>
                            <input type="text" name="lname" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Email Address</label>
                            <input type="email" name="email" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary"><i class="fa fa-fw fa-chevron-right"></i> Submit</button>
                        </div>
                    </form>
                <% } %>
                <ul class="list-unstyled">
                    <% _.each(m.userLister.c.userList, function (user) { %>
                        <li class="h4 {{uk.if(user.isDeactivated, 'darkGray', '')}}">
                            <div class="dropdown inlineBlock">
                                <button class="btn btn-light btn-sm dropdown-toggle" type="button"
                                    id="aria--dropdown-userId-{{user._id}}"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                >
                                    <i class="fa fa-fw fa-bars"></i>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="aria--dropdown-userId-{{user._id}}">
                                    <a class="dropdown-item cursorPointer" data-on="click"
                                        data-call="/userLister/onClick_toggle_isDeactivated" data-lit-arg="{{user._id}}"
                                    >
                                        {{uk.if(user.isDeactivated, "Reactivate", "Deactivate")}}
                                    </a>
                                </div>
                            </div>
                            &nbsp;
                            <span>
                                {{ user.fname }} {{user.lname}} <small class="">{{user.email}}</small>
                            </span>
                        </li>
                    <% }); %>
                </ul>
            <% } %><!-- end route guard -->
        </div><!-- end route 'userLister' -->


        <!-- PLACEHOLDER ROUTE: -->
        <div class="{{ m.router.ifRoute('__route__name__') }}" id="__route__name__">
            <% if (m.__your_condintion_here__ && m.router.c.activeId === "__route__name__") { %>
                <header>
                    <h3><i class="fa fa-fw fa-question burlyWood"></i> Route Title</h3>
                    <br>
                </header>
                Route-sepcific UI (and logic) goes here ...
                    
            <% } %><!-- end route guard -->
        </div><!-- end route '__route__name__' -->
        
    </script><!-- end #ukSource -->
    
    <div id="ukTarget"></div>
    
    <div class="spinner">
        <span class="spinnerInner">
            <i class="fa fa-fw fa-spinner fa-spin"></i>
            <span class="spinnerFlash">Loading ...</span>
        </span>
    </div>
    
    <footer class="small gray centerText">
        <br><br><hr class="mb-2">
        Powered By Polydojo
    </footer>
    
    <script src="/front/.dash-bundle.js"></script>
</body>
</html>
